/* --------------------------------------------------------------------------- */
/* Main layout */

html {
    height: 100%;
    /* override lpdoc setting */
    overflow-y: hidden;
}
body {
    height: 100%;
    overflow: hidden;
}

:root {
    --frame-border: #e2e2e2;
    --cm-ciao-linenum: #ccc;
    --cm-ciao-selected: #ccc;
    --cm-ciao-comment: firebrick;
    --cm-ciao-predname: blue;
    --cm-ciao-neck: orangered;
    --cm-ciao-mod-decl: navy;
    --cm-ciao-pred-decl: navy;
    --cm-ciao-status-check: navy;
    --cm-ciao-status-true: forestgreen;
    --cm-ciao-status-false: red;
    --cm-ciao-status-trust: coral;
    --cm-ciao-status-entry: brown;
    --cm-ciao-status-checked: darkgreen;
}

@media (prefers-color-scheme: dark) {
    :root {
        --frame-border: #3a444b;
        --cm-ciao-linenum: #4c5561;
        --cm-ciao-selected: #4c5561;
        --cm-ciao-comment: #6C7B8B; /*slategray4*/
        --cm-ciao-predname: lightskyblue;
        --cm-ciao-neck: orangered;
        --cm-ciao-mod-decl: #9F79EE; /* mediumpurple2 */
        --cm-ciao-pred-decl: dodgerblue; /* mediumpurple2 */
        --cm-ciao-status-check: dodgerblue;
        --cm-ciao-status-true: limegreen;
        --cm-ciao-status-false: red;
        --cm-ciao-status-trust: coral;
        --cm-ciao-status-entry: #FF8C69; /* salmon1 */
        --cm-ciao-status-checked: lightgreen;
    }
}

/* --------------------------------------------------------------------------- */
/* CodeMirror style */

/* .CodeMirror, #right {
  height: -moz-calc(100vh - 0px);
  height: -webkit-calc(100vh - 0px);
  height: -o-calc(100vh - 0px);
  height: calc(100vh - 0px);
}*/
.CodeMirror {
    color: var(--fg);
    background: var(--codeblock-bg);
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 14px;
    height: 100%;
}
.CodeMirror-cursor {
    color: var(--fg);
    border-left-color: var(--fg);
}
.CodeMirror-gutters, .CodeMirror-gutter-filler {
    background: var(--codeblock-bg);
    border: none;
}
.CodeMirror-scrollbar-filler {
    background: var(--bg);
}
.CodeMirror-linenumber {
    color: var(--cm-ciao-linenum);
}
div.CodeMirror-selected { background: var(--cm-ciao-selected) !important; }
body {
    background: var(--bg);
    font-family: -apple-system,Helvetica,Arial,sans-serif;
    font-size: 16px;
}
button, input, optgroup, select, textarea {
    font-family: -apple-system,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

/* Specific for cm-ciao-mode.js CodeMirror mode */

.cm-ciao-variable {
    color: var(--var-fg);
}
.cm-s-default .cm-comment {
    color: var(--cm-ciao-comment);
}
.cm-ciao-predname {
    color: var(--cm-ciao-predname);
}
.cm-ciao-neck {
    color: var(--cm-ciao-neck);
    font-weight: 600;
}
.cm-ciao-mod-decl {
    color: var(--cm-ciao-mod-decl);
    font-weight: 600;
}
.cm-ciao-pred-decl {
    color: var(--cm-ciao-pred-decl);
    font-weight: 600;
}
.cm-ciao-status-check {
    color: var(--cm-ciao-status-check);
    font-weight: 600;
}
.cm-ciao-status-true {
    color: var(--cm-ciao-status-true);
    font-weight: 600;
}
.cm-ciao-status-false {
    color: var(--cm-ciao-status-false);
    font-weight: 600;
}
.cm-ciao-status-trust {
    color: var(--cm-ciao-status-trust);
    font-weight: 600;
}
.cm-ciao-status-entry {
    color: var(--cm-ciao-status-entry);
    font-weight: 600;
}
.cm-ciao-status-checked {
    color: var(--cm-ciao-status-checked);
    font-weight: 600;
}

/* --------------------------------------------------------------------------- */
/* UI elements: frames, buffers, menu items, toolbar buttons, etc. */

.frame_menu {
    line-height: 42px; /* center vertically */
    height: 42px;
    overflow-y: hidden;
    /* background: black; */
    /* color: white; */
    border-bottom: 1px solid var(--frame-border);
    background: var(--bg);
    color: var(--fg);
    padding: 0px 4px 0px 4px;
}

/* (as a span inside .frame_menu) */
.frame_title {
    float: left;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 42px; /* center vertically */
    height: 42px;
    background: var(--bg);
    color: var(--fg);
    font-size: 16px;
    font-weight: normal;
    overflow-y: hidden;
}

.frame_buttons {
    height: 42px;
}
.frame_buttons button, button.barbutton {
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.22); */
    border: 1px solid var(--frame-border);
    border-radius: 4px;
    background: var(--bg);
    color: var(--fg);
    font-weight: normal;
    margin: 2px;
    padding: 4px 8px 4px 8px;
    height: 28px;
}
.frame_buttons button:focus, button.barbutton:focus {
    outline: 0;
    background: var(--code-bg);
    color: var(--fg);
}
.frame_buttons button:hover, button.barbutton:hover {
    background: var(--code-bg);
    color: var(--fg);
}
.frame_buttons button:active, button.barbutton:active {
    background: var(--code-bg);
    color: var(--fg);
}

button.killbutton {
    border: 0px solid #400;
    border-radius: 2px;
    background: #800;
    color: #ddd;
    margin: 2px;
}
button.killbutton:focus {
    background: #a00;
}
button.killbutton:hover {
    background: #a00;
}
button.killbutton:active {
    background: #a00;
}

.frame_buffers {
    height: calc(100% - 42px); /* substract menu height */
    background-color: var(--frame-border);
}

.buffer_title {
    font-size: 14px;
    line-height: 24px; /* center vertically */
    height: 24px;
    background: var(--bg); /* #f4f4f4 */
    color: var(--header); /* #888 */
    /* font-weight: bold; */
    padding-left: 8px;
    padding-right: 8px;
}
.buffer_contents {
    line-height: 1.05em;
    height: calc(100% - 24px);
}

.menu_item {
    font-size: 14px;
    margin: 4px;
    padding: 4px;
    border-bottom: 1px solid var(--border);
}
.menu_item > button { font-size: 14px; }
.menu_item > input { font-size: 14px; }
.menu_item > optgroup { font-size: 14px; }
.menu_item > select { font-size: 14px; }
.menu_item > textarea { font-size: 14px; }

.menu_title {
    font-weight: bold;
}

.menu_desc {
    padding: 2px;
    color: var(--fg);
}

.menu_flag {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: var(--code-fg);
    background: var(--code-bg);
}

/* --------------------------------------------------------------------------- */
/* Split pane (requires split.min.js) */

body {
    /* padding: 4px; */
    box-sizing: border-box; /* required for split pane */
}

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    /* border: 1px solid #C0C0C0; */
    background-color: var(--bg);
}

.gutter {
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

/* --------------------------------------------------------------------------- */
/* Modal screen */

#modal-screen {
    /* background-color: rgba(0,0,0,0.2); */
    position: fixed;
    z-index: 9001;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding-top: 96px;
}

#modal-content {
    margin: auto;
    padding: 8px;
    width: 80%;
    max-height: calc(80% - 96px);
    border: 1px solid var(--border);
    border-radius: 2px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 9002;
    background-color: var(--bg);
    overflow-y: auto;
}

/* --------------------------------------------------------------------------- */
/* In-progress indicator (on the top-right corner) */
/* (avoid animations: they consume CPU) */

.in-progress {
    color: var(--bg);
    font-size: 16px;
    height: 42px;
    margin: 8px;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* --------------------------------------------------------------------------- */
/* Custom for LPdoc output */

.lpdoc-page {
    overflow-y: scroll;
    height: 100%;
    line-height: 1.3em; /* (make it consistent with lpdoc.css) */
}
